
.youtube {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}


.youtube iframe {

}

.sample-run {
  white-space: pre;
  margin-bottom: 1rem;
}

article.courses {
  li {
    line-height: 1.2rem;
    margin-bottom: 0.3rem; 
  }
}