
.youtube {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}


.youtube iframe {

}

.sample-run {
  color: inherit;
  background: inherit;
}

.sample-run code {
  color: #c7254e;
}

article.courses {
  li {
    line-height: 1.2rem;
    margin-bottom: 0.3rem; 
  }
}
