{{/*  //Shouldn't need this, but we do to allow for HTML in mermaid diagrams
<script>mermaid.initialize({securityLevel: 'loose'});</script>  */}}


{{ $pageLink := .RelPermalink }}
{{- range .Params.js }}
<link rel="stylesheet" href='{{ printf "%s%s" $pageLink . }}?{{ now.Unix }}'>
<script src="{{ printf "%s%s" $pageLink . }}?{{ now.Unix }}" defer></script>
{{- end }}

<script>
$(function() {
  $("#TableOfContents").each(function(){
    $(this).attr("aria-label","Table of Contents");
  });
});
</script>

  